<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <strong><h1 id="title" class="m-3">Abrí tu negocio completando el siguiente formulario</h1></strong>

      <%= simple_form_for [ @provider ] do |f| %>
        <%= f.input :name %>
        <%= f.input :category %>
        <%= f.input :address %>
        <%= f.input :neighborhood %>
        <%= f.input :description %>
        <%= f.input :opening_time %>
        <%= f.input :closing_time %>
        <%= f.submit "Contacto", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
