<div class="row justify-content-center">
  <% @providers.each do |provider| %>
    <div class="col-12 col-md-6 col-lg-3 mt-3">
      <%= link_to provider_path(provider) do  %>
          <div class="card h-100">
            <%= cl_image_tag provider.photos.first.key, class: "desktop-img mb-1" %>
            <div class="card-body bg-light">
              <h5 class="card-title mb-1"> <strong><%= provider.name %></h5></strong>
              <% provider.rating.times do %>
                <i class="fas fa-star my-2" style="font-size: 10px"></i>
              <% end %>
              <p class="text-dark fs-6 fw-bolder mb-0"><%= provider.category %></span></p>
              <p style="font-size: 12px" class="text-dark  my-1"><%= provider.neighborhood.partition(",").first %></p>
              <p style="font-size: 12px" class="text-dark font-italic"><%= provider.address.partition(",").first %></p>
              <div class= "d-flex justify-content-between">
                <p class="distance m-0" data-latitude="<%= provider.latitude%>" data-longitude="<%= provider.longitude%>"></p>
                <i class="fas fa-location-arrow"></i>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% end %>
</div>