<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <strong><h1 id="title" class="mt-3 fs-1 fw-bolder">Una nueva forma de organizar tus días</h1></strong>
      <p id="description" class="mt-3">Usá nuestro sistema de gestión de turnos en todos tus lugares favoritos y no esperes nunca más para entrar a un lugar.</p>
    </div>
    <div id="search-form">
      <%= form_with local: true, url: providers_path, method: :get do |f| %>
        <div class="row align-items-center m-0">
          <div class="mb-3 col-12 col-sm-12 col-md-6">
            <%=f.text_field :localidad, as: :string, required: true, placeholder:"¿Donde buscás?", id: "provider_address" %>
          </div>
          <div class="mb-3 col-12 col-sm-12 col-md-6">
            <%= f.select :categoria, [["Peluqueria", "Peluqueria"], ["Dentista", "Dentista"]], required: true, prompt: '¿Para qué es el turno?' %>
          </div>
          <div class="mb-3 col-12 col-md-6">
            <%= f.submit 'Buscar', class: "btn btn-lg btn-primary mt-2", style: "width:100%;border-radius:5px" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <hr class="my-3 py-3">
  <!--step 1 -->
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <img class="m-3" src="https://res.cloudinary.com/dmtio0viw/image/upload/v1613101887/Turna/step1.png" alt="step1">
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 id="title" class="m-3">Elegí la categoría que estás buscando</h3>
        <p id="description" class="m-3">Usá nuestro filtro para encontrar exactamente lo que estás buscando. Tenemos todo tipo de servicios en Capital Federal.
        </p>
      </div>
    </div>
    <!--step 2 -->
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img class="m-3" src="https://res.cloudinary.com/dmtio0viw/image/upload/v1613102136/Turna/step2.png" alt="step2">
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 id="title" class="m-3">Elegí el lugar en donde queres recibir el servicio</h3>
        <p id="description" class="m-3">Selecciona el negocio que estas buscando según la ubicación elegida. Los lugares estan rankeados acorde a las reviews recibidas!
        </p>
      </div>
    </div>
    <!--step 3 -->
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img class="w-100" src="https://res.cloudinary.com/dmtio0viw/image/upload/v1613102135/Turna/step3.png" alt="step3">
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 id="title" class="m-3">Seleccioná tu servicio</h3>
        <p id="description" class="m-3">Una vez elegido el local, seleccioná el servicio en el que quieras reservar tu turno, y hacelo acorde a las disponibilidades del lugar/profesional elegido!
        </p>
      </div>
    </div>
</div>
<!--descargar Apple y iOS -->
<div class="container" style="background-color:#FE6929;height:400px;">
  <div class="container position text-center">
    <h3 id="title" style="color:white">¡No esperes un segundo más!</h3>
    <p id="description" style="color:white!important">Descargá nuestra app y reservá tu turno desde cualquier lado!</p>
    <div class="flex social-btns w-100">
      <a class="app-btn blu flex vert" href="https://www.apple.com/">
        <i class="fab fa-apple"></i>
        <p>Consíguelo en el <br/> <span class="big-txt">App Store</span></p>
      </a>

      <a class="app-btn blu flex vert" href="https://play.google.com/">
        <i class="fab fa-google-play"></i>
        <p>Disponible en <br/> <span class="big-txt">Google Play</span></p>
      </a>
    </div>
  </div>
</div>
<!--Nuestros negocios -->
<div class="container p-3">
  <h3 id="title">Nuestros negocios favoritos</h3>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @providers.each_with_index do |provider, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : "" %>">
          <%= link_to provider_path(provider) do  %>
            <div class="col-12 col-md-4 col-lg-3 mt-3">
              <div class="card">
                <%= cl_image_tag provider.photos.first.key %>
                <div class="card-body bg-light">
                  <p class="color-text"><%= provider.category %></span></p>
                  <h5 class="card-title"> <strong><%= provider.name %></h5></strong>
                  <p><strong>Rating:</strong> <% 4.times do  %> <i class="fas fa-star" style="color: #FE6929"></i>
                <% end %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--Conocenos -->
<div class="container text-center" style="background-color:#FE6929;height:250px">
    <h3 id="title" style="color:white; padding-top:10px">No dudes en contactarnos!</h3>
      <div class="d-flex flex-column m-3 p-3">
      <%= link_to "¿Quienes somos?", about_path, class:"m-2", style:"color: white" %> <br>
      <%= link_to "Contactanos", contact_path, class: "m-2", style:"color: white" %>
      </div>
    </div>
  </div>
</div>
