<%= render 'shared/container' %>
<div class="container">

  <strong><h1 id="title" class="pt-2">Todos los providers</h1></strong>
  <div class="align-left">
    <ul class="nav nav-pills my-3" style="justify-content: evenly;" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button id="filters" class="btn btn-primary active m-1" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Pendientes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button id="filters" class="btn btn-primary m-1" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Aprobados</button>
      </li>
      <li class="nav-item" role="presentation">
        <button id="filters" class="btn btn-primary m-1" id="pills-contact-tab" data-toggle="pill" data-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Todos</button>
      </li>
    </ul>
  </div>

    <div class="tab-content mt-5" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="cards">
          <div class="row">
            <% @pending.each do |provider| %>
              <div class="col-12 col-md-4">
                  <div class="card-product">
                    <%= cl_image_tag provider.photos.first.key, class: "card-img-index" %>
                    <div class="card-product-infos mt-2">
                      <h2><%= provider.name %></h2>
                      <p class="description" style="margin-top:0"><%= provider.services.first.title %></p>
                      <p class="description" style="margin-top:0">Precio promedio: <strong>$ <%= provider.avg_price %></strong></p>
                      <p class="description" style="margin:0">Creación del provider: <%= provider.created_at.strftime('%d/%m/%Y') %>hs</p>
                      <div class="d-flex align-items-center">
                      <% if provider.status == true %>
                        <%= simple_form_for provider do |f| %>
                          <%= f.hidden_field :status, value: "canceled" %>
                          <%=f.submit "Pausar", id: "sweet-alert-rejected", class: "btn btn-light p-0 mr-3", style: "color: #FBB266;", data: { confirm: "Pausar provider?" } %>
                        <% end %>
                        <% else %>
                        <%= simple_form_for provider do |f| %>
                          <%= f.hidden_field :status, value: "canceled" %>
                          <%=f.submit "Activar", id: "sweet-alert-rejected", class: "btn btn-light p-0 mr-3", style: "color: #FBB266;", data: { confirm: "Activar provider?" } %>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

     <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="cards">
          <div class="row">
            <% @active.each do |provider| %>
              <div class="col-12 col-md-4">
                  <div class="card-product">
                    <%= cl_image_tag provider.photos.first.key, class: "card-img-index" %>
                    <div class="card-product-infos mt-2">
                      <h2><%= provider.name %></h2>
                      <p class="description" style="margin-top:0"><%= provider.services.first.title %></p>
                      <p class="description" style="margin-top:0">Precio promedio: <strong>$ <%= provider.avg_price %></strong></p>
                      <p class="description" style="margin:0">Creación del provider: <%= provider.created_at.strftime('%d/%m/%Y') %>hs</p>
                      <div class="d-flex align-items-center">
                      <% if provider.status == true %>
                        <%= simple_form_for provider do |f| %>
                          <%= f.hidden_field :status, value: "canceled" %>
                          <%=f.submit "Pausar", id: "sweet-alert-rejected", class: "btn btn-light p-0 mr-3", style: "color: #FBB266;", data: { confirm: "Pausar provider?" } %>
                        <% end %>
                        <% else %>
                        <%= simple_form_for provider do |f| %>
                          <%= f.hidden_field :status, value: "canceled" %>
                          <%=f.submit "Activar", id: "sweet-alert-rejected", class: "btn btn-light p-0 mr-3", style: "color: #FBB266;", data: { confirm: "Activar provider?" } %>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="cards">
          <div class="row">
            <% @providers.each do |provider| %>
              <div class="col-12 col-md-4">
                  <div class="card-product">
                    <%= cl_image_tag provider.photos.first.key, class: "card-img-index" %>
                    <div class="card-product-infos mt-2">
                      <h2><%= provider.name %></h2>
                      <p class="description" style="margin-top:0"><%= provider.services.first.title %></p>
                      <p class="description" style="margin-top:0">Precio promedio: <strong>$ <%= provider.avg_price %></strong></p>
                      <p class="description" style="margin:0">Creación del provider: <%= provider.created_at.strftime('%d/%m/%Y') %>hs</p>
                      <div class="d-flex align-items-center">
                      <% if provider.status == true %>
                        <%= simple_form_for provider do |f| %>
                          <%= f.hidden_field :status, value: "canceled" %>
                          <%=f.submit "Pausar", id: "sweet-alert-rejected", class: "btn btn-light p-0 mr-3", style: "color: #FBB266;", data: { confirm: "Pausar provider?" } %>
                        <% end %>
                        <% else %>
                        <%= simple_form_for provider do |f| %>
                          <%= f.hidden_field :status, value: "canceled" %>
                          <%=f.submit "Activar", id: "sweet-alert-rejected", class: "btn btn-light p-0 mr-3", style: "color: #FBB266;", data: { confirm: "Activar provider?" } %>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>  
</div>
