<div class="container" style="height:30px"></div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-offset-4">
			<div class="form-review">
				<h5 style="color:#FE6929"><strong><%= @booking.service.provider.name %></strong></h5>
				<%= cl_image_tag @booking.service.provider.photos.first.key, class: "card-review" %>
				<strong><h1 id="title">¡Tu opinión cuenta!</h1></strong>
				<p>¡Dejanos una breve reseña, ayudanos a mejorar tu experiencia! <i class="fas fa-grin-alt" style="color:#FE6929"></i> </p>
				<%= simple_form_for [ @booking, @review ] do |f| %>
					<%= f.input :rating, label: "Calificá tu experiencia", :collection => 1..5%>
					<%= f.input :content, label: "Dejanos más información" %>
					<%= f.submit "Enviar!", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/container' %>
