<!DOCTYPE html>
<html>
  <head>
    <title>Turna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://res.cloudinary.com/divzp8hs4/image/upload/v1613229854/Turna/LOGO_small_bze1ve.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbars' %>
    <%= render 'shared/flashes' %>
    <div class="contianer w-100">
      <%= yield %>
    </div>

    <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
      if (prevScrollpos < currentScrollPos) {
        document.getElementById("bottom-navbar").style.bottom = "-100px";
      } else {
        document.getElementById("bottom-navbar").style.bottom = "0px";
      }
      prevScrollpos = currentScrollPos;
    }
    </script>


  </body>
</html>

